#main{
	width:80%;
	background-color:#81BEF7;
	margin-left:10%;
	margin-right:10%;
	margin-top:50px;
	-webkit-border-radius:15px;
}

h2{
	padding-top:7%;
	text-align:center;
	font-size: 48px; 	
}

.title{
	padding-left: 25%;
	font-family: Josefin Slab, serif;
	font-size: 20px;
	position:relative;
	top:-35px;
}

table{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	padding-bottom: 50px;
}

td{
	-webkit-border-radius:10px;
}

body{
	color:#FFFFFF;
}

.topSkills{
	background-color:#00509B;
	height: 70px;
	font-size: 35px;
	font-weight: bold;
}

.medSkills{
	background-color:#2D7FCC;
	height: 50px;
	font-size: 25px;
}

.bottomSkills{
	font-size: 15px;
}

.count{
	padding-left: 10px;
	width: 20%;
}

.skill{
	padding-left: 10px;
	width: 60%;
}

.value{
	text-align:center;
	width: 20%;
}